/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('Homewall.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
}
.bglbr{
    background-color: rgba(0, 0, 0, 0.4);
    height: 170vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;}
nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;}
nav ul li {
    margin: 0 20px;}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;}
nav ul li a:hover {
    background-color: #555;}
.container {
    
    text-align: center;
    background-color: rgba(white, white, white, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin-top: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.description h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}

.description p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
}

/* Media queries for responsiveness */

/* Tablet and smaller desktop screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .description h2 {
        font-size: 1.6rem;
    }

    .description p {
        font-size: 1rem;
        max-width: 90%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.6rem;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }

    .description h2 {
        font-size: 1.4rem;
    }

    .description p {
        font-size: 0.9rem;
        max-width: 90%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
